<nav class="navbars">
    <div class="logos">
      <a href="/Employee_prof">Logo Here</a>
    </div>
    <ul class="nav-linkss">
      <li><a href="/Employee_prof">Profile</a></li>
      <li><a href="#">Orders</a></li>
      <li><a href="#">Inventory</a></li>
      <li><a href="#">Reports</a></li>
      <li><a href="/Res">Reservations</a></li>
      <li><a href="#">Tables</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
    <div class="burgers">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>
  